<h1>Exercises</h1>

<h2>Input/Ouptut</h2>
1. Save string a to a file:

In [1]:
a = "This is a small exercise"

2. Load the file again and print out its content:

<h2>Modules</h2>
3. Import the following modules:<br>
pandas (with alias pd)<br>
numpy (with alias np)<br>
etree (from the library lxml)<br>
matplotlib.pyplot (with alias plt)<br>

<h2>lxml</h2>

4. Parse the file ENG18482_Gaskell.xml and print out every "title" element:

<h2>Pandas</h2>
5. Create a pandas dataFrame and add list a as column with the name "numbers"

In [1]:
import pandas as pd
a = [1,2,3,4,5]

6. Print the word count of "me" in dataFrame dtm for the documents d03, d32 and d56

In [2]:
dtm = pd.read_csv("dtm_example.tsv", sep="\t", index_col=0)

7. Sort the results of exercise 6:

In [7]:
dtm.describe()

,d01,d02,d03,d04,d05,d06,d07,d08,d09,d10,...,d48,d49,d50,d51,d52,d53,d54,d55,d56,d57
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000
mean,829.500000,388.405000,585.230000,419.230000,985.585000,482.695000,357.515000,239.030000,1116.965000,231.675000,...,1189.640000,467.825000,38.645000,529.545000,509.170000,556.205000,722.20500,610.730000,671.145000,321.160000
std,1462.999565,724.238946,1136.516819,1070.213559,1949.872941,903.749928,593.886831,447.058043,2026.716949,404.210912,...,2045.240024,947.838686,67.576861,884.293119,1007.982542,1162.210168,1205.04123,1032.443814,1115.315154,564.447508
min,16.000000,5.000000,0.000000,0.000000,1.000000,7.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.00000,10.000000,0.000000,1.000000
25%,220.750000,91.000000,147.500000,81.750000,249.500000,116.000000,98.750000,57.000000,260.500000,53.000000,...,319.000000,104.750000,10.000000,149.500000,129.750000,116.500000,171.50000,138.750000,167.750000,80.000000
50%,342.000000,132.500000,233.000000,141.500000,398.500000,190.000000,155.500000,102.000000,482.500000,91.000000,...,511.000000,185.000000,16.000000,242.500000,199.000000,207.000000,307.50000,250.500000,290.000000,138.500000
75%,803.750000,310.000000,506.750000,340.750000,785.750000,389.500000,339.750000,250.250000,1076.000000,199.750000,...,1058.000000,399.000000,36.250000,454.500000,462.500000,461.000000,673.75000,547.500000,687.000000,286.500000
max,12069.000000,4742.000000,10847.000000,11962.000000,19825.000000,8346.000000,4501.000000,4183.000000,17336.000000,2727.000000,...,13598.000000,9329.000000,581.000000,6838.000000,9418.000000,11025.000000,9754.00000,7489.000000,8636.000000,4382.000000

8. calculate relative frequencies of "he" and "she"

<h2>matplotlib</h2>
9. Take a look at the scatterplot documentation at: <br>
https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.scatter.html

10. Create a scatterplot, where: <br>
x axis: frequency of she<br>
y axis: frequency of he<br>
points: documents<br>

In [9]:
import matplotlib.pyplot as plt