<h2>Introduction to Python</h2>

<h3>Session 1</h3>
    <ul>
        <li>Variables</li>
        <li>Data Types</li>
        <li>Operators</li>
        <li>Loops</li>
        <li>Indexing</li>
        <li>Functions</li>
        <li>Classes</li>
        <li>Flow Control</li>
   </ul>

In [1]:
print("Hello World")

Hello World

<h3>Variables</h3>

We can assign values to variables using the = operator. A variable is just a name we give to a particular value, you can imagine it as a box you put a certain value into. The following code creates a variable with the name x and the value 2<br>
We can use the print() command to print out values from variables.

In [2]:
x = 2
print(x)

2

We can also store text in variables

In [3]:
x = "Let's learn some python!"
print(x)

Let's learn some python!

<h3>Data Types</h3>
<h4>Base Types</h4>
Integer: whole numbers (-23,-22, 1, 2, 3, 4, 432, 10000) <br>
Float: floating-point numbers (-1.4, 0.2342, 9.2312314, 100.2, 23.0)<br>
String: Text/Characters ("HI", "This is a test.", "v", "x") <br>
Bool: Boolean Values (True/False)

We can identify a variables type by using type():

In [4]:
x = 12 
type(x)

int

In [5]:
x = 12.0
type(x)

float

In [6]:
x = "12" 
type(x)

str

In [7]:
x = True 
type(x)

bool

<h4>Lists, Dictionaries</h4><br>
There are more complex Datatypes we can use to assign multiple values to.<br>
List: Ordered list of items ([1,2,2,4],["a",6,"c"],["Hi, how are","you"])<br>
Set: Unordered list of unique items ({1,2,4},{6,"a","c"})<br>
Dictionary: Collection of key-value pairs {"berry":"red", "lemon":"yellow", "lime":"green"}<br>

In [8]:
x = [1,2,3] # use brackets
type(x)

list

In [9]:
x = {1,2,3} # use braces
type(x)

set

In [10]:
x = {"Romeo and Juliet": "Shakespeare"} # use braces and colon
type(x)

dict

<h4>Type Conversion</h4><br>
Sometimes it is needed to convert a variable to another datatype.<br>
You can do it with these commands:<br>

Integer: int()<br>
Float: float()<br>
String: str()<br>
Bool: bool()<br>
List: list()<br>
Set: set()<br>
Dictionary: dict()<br>

In [11]:
x = "4"
print(type(x))
x = int(x)
print(type(x))

<class 'str'>
<class 'int'>

In [12]:
x = "This is a test."
print(type(x))
x = list(x)
print(type(x))

<class 'str'>
<class 'list'>

Wait, what happend here?

In [13]:
print(x)

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'e', 's', 't', '.']

<h3>Operators</h3>

\+ : add <br>
\- : substract<br>
\* : mulitply<br>
/ : divide<br>
== : equals<br>
!= : not equal <br>
<  : less than<br>
\> : greater than<br>
<= : less than or equal<br>
=> : greater than or equal<br>

In [14]:
a = 4
b = 6
c = a+b
print(c)

10

In [15]:
a = 4
b = 6
c = a-b
print(c)

-2

In [16]:
a = 4
b = 6
c = a == b # What is the resulting datatype??
print(c)

False

In [17]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [18]:
a = "Hello "
b = "World"
c = a-b
print(c)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

As you can see not every operator can be used with every datatype!<br>
But nevermind, if you try to use it you'll get an Error that explains
your mistake.

In [19]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6]

<h3>Loops and Indexing</h3>

In the list-datatype we can acess items via indexing:<br>
For example:

In [20]:
a = ["This","is","a","small","list"]

If we want to print the first element in this list we do:

In [22]:
print(a[2]) # Index start with zero!

a

And for the last element:

In [23]:
print(a[4])

list

In [26]:
print(a[-2]) # We could also use inverse indexing!

small

Imagine we want to add 5 to each element in a list of numbers like:

In [27]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

A solution could look like this:

In [28]:
print(numbers[0] + 5)
print(numbers[1] + 5)
print(numbers[2] + 5)
print(numbers[3] + 5)
print(numbers[4] + 5)

6
7
8
9
10

But this is neither elegant nor practical if you have large lists.
For this reason there is a mechanic called loop that helps to apply
the same operation to every element within a list.

In [29]:
my_list = ["This","is","a","loop"]
    
for element in my_list:
    print(element)

This
is
a
loop

To add 5 to each element in the number list we can do:

In [32]:
numbers = [1,2,3,4,5,"a"]

for i in numbers:
    new_value = i + 5
    print(new_value)

6
7
8
9
10

TypeError: can only concatenate str (not "int") to str

In [35]:
numbers = [1,2,3,4,5,"a"]
number

SyntaxError: invalid syntax (<ipython-input-35-4772bd591366>, line 2)

In addition to the for-loop there is a while-loop. <br>
The for-loop just iterates over every element in a list<br>
While-loops are bound to a certain stop-condiction:

In [36]:
a = 1
while a < 14: # the loop stops if a < 14 is no longer true
    
    a = a + 3
    
print(a)

16

Why is this a bad idea?

In [37]:
a = 1
while a != 14: # the loop stops if a != 14 is no longer true
    
    a = a + 3
    
print(a)

KeyboardInterrupt:

<h3>Excursus: White space in python</h3>

In the example below the code after the for statement is indented.
In contrast to other programming languages whitespace has a 
meaning in python. It applies a hierachical order to code.

In [38]:
numbers = [1,2,3,4,5]

for number in numbers:
    
    new_value = number + 5 # These lines belong inside the loop e.g. the last non indented line of cod
    print(new_value)       
    
print("Loop done")         # By stop using indent, we leave the loop

6
7
8
9
10
Loop done

<h3>Flow Control</h3>
<br>
Flow control is used to define condition that manage if a code block should be executed.
Available control statements:<br>
<br>
if: check if a condition is true<br>
else: supplements if-statement<br>
elif: supplements if-statement and adds extra condition<br>
pass: do nothing<br>
continue: stop and go to next element in list<br>
break: stop the whole loop<br>

In [40]:
numbers = [1,2,3,4,5]

for number in numbers:
    
    if number > 3:
        print(number)
    
    else:
        print("This number is to low: " + str(number))

This number is to low: 1
This number is to low: 2
This number is to low: 3
4
5

In [41]:
numbers = [1,2,3,4,5]

for number in numbers:
    
    if number > 3:
        print(number)
    
    else:
        pass

4
5

In [42]:
numbers = [1,2,3,4,5]

for number in numbers:
    
    if number > 3:
        print(number)
    
    else:
        continue

4
5

In [43]:
numbers = [1,2,3,4,5]

for number in numbers:
    
    if number > 3:
        print(number)
    
    elif number == 2:
        print(number)
        
    else:
        pass

2
4
5

In [44]:
numbers = [1,2,3,4,5]

for number in numbers:
    
    if number > 3:
        print(number)
    
    else:
        break

<h3>Functions</h3>

Functions are used to store certain operations we need to apply
multiple times within our code.

In [45]:
def myfunction(inputnumber, divisor, addition):
    
    result = inputnumber / divisor
    result = result + addition
    
    return result

![alt text](function.png "Logo Title Text 1")

Lets use our own function!

In [48]:
a = 10
b = 2
c = 1

x = myfunction(a, b, c)
print(int(x))

6

<h3>Classes</h3>

Classes are used to bind abstract data structures and functions that may be
applied to those together.<br>
<br>
The following example shows a class named icecream. Objects of this
class contain data about price and flavor of iceream and functions to
alter the price.

In [50]:
class icecream():
    
    def __init__(self, flavor, price): # def __init__ holds values that have to be declared for 
                                       # an icecream instance
        self.flavor = flavor
        self.price = price
    
    def lower_price(self, amout):
        self.price -= amout
             
    def higher_price(self, amout):
        self.price += amout

In [51]:
my_ice = icecream(flavor="vanilla", price=3)

In [52]:
print(my_ice.flavor)
print(my_ice.price)

vanilla
3

In [53]:
my_ice.lower_price(1)
print(my_ice.price)

2

In [54]:
my_ice.higher_price(4)
print(my_ice.price)

6

<h3>Suprise! Everything is a object!</h3>

Every datatype we learned about till now is a
class and everytime we assign a value we create
an object. That means there are predefined functions
we can apply to those.
Lets look at some:

<h4>Strings</h4>

In [57]:
a = " This is a short example "
print(a)
print(a.lower())
print(a.upper())
print(a.strip(" "))
print(a.split(" "))
print(a.find("i"))

 This is a short example
 this is a short example
 THIS IS A SHORT EXAMPLE
This is a short example
['', 'This', 'is', 'a', 'short', 'example', '']
3

<h4>Lists</h4>

In [58]:
a = [1,2,3]
a.append(4)
print(a)
a.pop(2)
print(a)
b = ["1","2","3","4","5"]
"-".join(b)

[1, 2, 3, 4]
[1, 2, 4]

'1-2-3-4-5'

<h4>Dictionaries</h4>

In [59]:
a = {"France":"Paris","Spain":"Madrid"}
print(a)
print(a.keys())
print(a.values())
print(a.items())
a.update({"Hungray":"Budapest"})
print(a)

{'France': 'Paris', 'Spain': 'Madrid'}
dict_keys(['France', 'Spain'])
dict_values(['Paris', 'Madrid'])
dict_items([('France', 'Paris'), ('Spain', 'Madrid')])
{'France': 'Paris', 'Spain': 'Madrid', 'Hungray': 'Budapest'}